@charset "UTF-8";
.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-angle-down:before {
  content: '\e801'; }

/* '' */
.icon-angle-left:before {
  content: '\e802'; }

/* '' */
.icon-angle-right:before {
  content: '\e803'; }

/* '' */
.icon-angle-up:before {
  content: '\e804'; }

/* '' */
.icon-clock:before {
  content: '\e805'; }

/* '' */
.icon-pencil:before {
  content: '\e806'; }

/* '' */
.icon-comment:before {
  content: '\e807'; }

/* '' */
.icon-share:before {
  content: '\e808'; }

/* '' */
.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-rss:before {
  content: '\f09e'; }

/* '' */
.icon-linkedin:before {
  content: '\f0e1'; }

/* '' */
.icon-comment-empty:before {
  content: '\f0e5'; }

/* '' */
.icon-info:before {
  content: '\f129'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-gplus:before {
  content: '\f30f'; }

/* '' */
.icon-instagram-1:before {
  content: '\f32d'; }

/* '' */
