@charset "UTF-8";
@font-face {
  font-family: 'Iransans';
  src: url("font/IRANSans-Medium-web.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: 400; }

@font-face {
  font-family: 'mihan-theme-icons';
  src: url("http://file.mihanblog.com//public/user_data/user_files/639/1915628/icons/fontello.eot");
  src: url("http://file.mihanblog.com//public/user_data/user_files/639/1915628/icons/fontello.eot?") format("embedded-opentype"), url("http://file.mihanblog.com//public/user_data/user_files/639/1915628/icons/fontello.svg?") format("svg"), url("http://file.mihanblog.com//public/user_data/user_files/639/1915628/icons/fontello.woff?") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'mihan-theme-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

.blog h2 {
  font-size: 20px; }

.blog h3 {
  font-size: 17px; }

.blog h4 {
  font-size: 15px; }

.blog h5 {
  font-size: 13px; }

.blog h6 {
  font-size: 11px; }

p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.8; }

.post h1 {
  font-size: 12px; }

.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-angle-down:before {
  content: '\e801'; }

/* '' */
.icon-angle-left:before {
  content: '\e802'; }

/* '' */
.icon-angle-right:before {
  content: '\e803'; }

/* '' */
.icon-angle-up:before {
  content: '\e804'; }

/* '' */
.icon-clock:before {
  content: '\e805'; }

/* '' */
.icon-pencil:before {
  content: '\e806'; }

/* '' */
.icon-comment:before {
  content: '\e807'; }

/* '' */
.icon-share:before {
  content: '\e808'; }

/* '' */
.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-rss:before {
  content: '\f09e'; }

/* '' */
.icon-linkedin:before {
  content: '\f0e1'; }

/* '' */
.icon-comment-empty:before {
  content: '\f0e5'; }

/* '' */
.icon-info:before {
  content: '\f129'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-gplus:before {
  content: '\f30f'; }

/* '' */
.icon-instagram-1:before {
  content: '\f32d'; }

/* '' */
body,
input,
textarea {
  background-color: #f2f2f2;
  direction: rtl;
  font-family: 'Mihan-Iransans', tahoma, arial; }

body,
ul,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 300ms ease-out;
  transition-property: opacity, background-color, color; }
  a:hover {
    color: #f4793d; }

.post a {
  color: #f4793d; }
  .post a:hover {
    color: #c0460b; }

.post ul {
  list-style: initial;
  margin: 16px 0;
  padding-right: 40px; }

.clear_fix:before,
.clear_fix:after {
  content: " ";
  display: table; }

.clear_fix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.header {
  background-color: #fff; }

.blog-logo,
.blog-name {
  display: inline-block; }

.blog-logo {
  width: 30%; }

.blog-name {
  width: 69%; }
