@import "variables";
@import "typography";
@import "icon";


body,
input,
textarea {
	background-color: $theme_bg_color;
	direction: rtl;
	font-family: 'Mihan-Iransans', tahoma, arial;
}

body,
ul,
a,
div,
h1,
h2,
h3,
h4,
h5, 
h6 {
	margin: 0;
	padding: 0;
}

h2,
h3,
h4,
h5, 
h6 {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 300ms ease-out;
	transition-property: opacity, background-color, color;

	&:hover {
		color: $primary-color;
	}
}

.post {

	a {
		color: $primary-color;

		&:hover {
			color: darken($primary-color, 20%);
		}
	}

	ul {
		list-style: initial;
		margin: 16px 0;
		padding-right: 40px;
	}
}

.clear_fix:before,
.clear_fix:after {
  	content: " ";
	display: table;
}

.clear_fix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}


// Header Style

.header {
	background-color: #fff;
}

.blog-logo,
.blog-name {
	display: inline-block;
}

.blog-logo {
	width: 30%;
}

.blog-name {
	width: 69%;
}